ul{
  list-style-type:none;
}

li{
  margin: 10px 0;
  list-style-type:none;
  }

.wrapper{
  background-color: #f3f8e1;
  color: inherit;
  }

.panel{
  background-color: #f3f8e1;
  color: inherit;
  }
