

ul{
  list-style-type:none;
}

li{
  margin: 10px 0;
  list-style-type:none;
  }

  
.wrapper{
  background-color: #f3f8e1;
  color: black;
  }

svg .bar{
  fill: var(--gray);
}
svg .bar.highlight{
  fill: var(--gray-dark);
}
svg .bar text{
  transform: translate(-10px,0);
  text-anchor: end;
  transition: 1s all;
}
svg .bar.highlight text{
  fill: black;
  transform: translate(10px,0);
  text-anchor: start;
  font-weight: bold;
}
