html {
  overflow-x: hidden;
}

media only screen and (min-width: 1500px){
  font-size: 2rem;
}

navbar {
  display: flex;
  align-content: space-around;
  padding: 1% 5% 0;
  background: #fff;
}
navbar #leftBanner {
  display: inline-flex;
}
navbar #leftBanner #logo img {
  width: 50%;
  margin-bottom: 5%;
  background: #015CB5;
  padding: 3%;
  border-radius: 20%;
}
navbar #leftBanner h3 {
  margin-left: -10%;
  font-size: 1.5em;
  width: 60%;
  color: black;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}
navbar #navbarLinks {
  width: 70%;
  margin-top: 1%;
}
navbar #navbarLinks a {
  text-decoration: none;
  color: #777777;
  margin-right: 5%;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
}
navbar #navbarLinks a:hover {
  color: black;
}

#banner {
  background-image: linear-gradient(rgba(255,255,255,.5),rgba(0,0,0,.5)),url("../img/back5.jpg");
  background-size: cover;;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  padding-top: 13%;
  padding-bottom: 9%;
}
#banner h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 3em;
  color: #fff;
  font-weight: bold;
}
#banner p {
  margin: 0 20%;
  margin-top: -1%;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.5em;
  color: #fff;
  font-weight: bold;
}
#banner #knowMore {
  margin-top: 5%;
  background: rgba(46, 127, 206, 0.55);
  padding: 0.4% 1.2%;
  border-radius: 5%;
}
#banner #knowMore a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
}

#goldenRule {
  display: flex;
  align-content: space-around;
  align-items: center;
  padding: 2% 5%;
  background: #015CB5;
  color: white;
  /*border-bottom: solid 5px #2E7FCE;*/
}
#goldenRule h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
}
#goldenRule p {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}
#goldenRule #mission {
  display: block;
  width: 50%;
  margin-right: 5%;
}

#goldenRule img {
  width: 30rem;
  height: 30rem;
}
#goldenRule #objectives {
  margin-left: 5%;
}

#mainBody {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  padding: 2% 5%;
}
#mainBody #mainContent {
  width: 60%;
  display: flex;
  flex-direction: column;
}
#mainBody #mainContent h1, #mainBody #mainContent h2, #mainBody #mainContent h3 {
  font-family: 'PT Sans', sans-serif;
}
#mainBody #mainContent p, #mainBody #mainContent li {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}
#mainBody #mainContent #welcome {
  display: flex;
  align-items: center;
}
#mainBody #mainContent #welcome img {
  margin-right: 5%;
  height: 261;
  width: 261;
}
#mainBody #sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10%;
}
#mainBody #sidebar h1, #mainBody #sidebar h2, #mainBody #sidebar h3 {
  font-family: 'PT Sans', sans-serif;
}
#mainBody #sidebar p, #mainBody #sidebar li {
  font-family: 'Roboto', sans-serif;
  list-style: none;
}
#mainBody #sidebar .btn {
  background: #D7D5D3;
  border-radius: 10%;
  padding: 1%;
  width: 70%;
  text-align: center;
}
#mainBody #sidebar .btn a {
  padding-right: 0;
  color: black;
  text-decoration: none;
}

#footer {
  background: #292929;
  text-align: left;
  padding: 1%;
  font-family: 'PT Sans', sans-serif;
  color: white;
}
#footer h4 span {
  margin-left: 20%;
  color: #777;
}

/*# sourceMappingURL=style.css.map */
#meetings{
	height: 100%;
	padding-bottom: 100%;
	margin-top: 5%;
}


navbar {
  border-bottom: 1px solid lightgrey; }

#WhyUs{
  list-style: decimal;
  text-align: justify;
}

#welcome-heading{
  font-weight: bold;
  font-size: 1.75rem;
}

.contact-row{
  display: flex;
  flex-direction: row;
  align-content: space-between;

}

.contact-row img{
  display: block;
  max-width:300px;
  max-height:150px;
  width: auto;
  height: auto;

}

.contact-row-2nd-item{
  margin-left: 10%;
}

.notifications{
  text-align: center;
  font-size: 2rem;
}

@media only screen and (min-width: 1150px){
  .contact-row div{
    width: 40%;
  }
}
@media only screen and (max-width: 650px){
  navbar{
    padding: 0;
    width: 100%;
  }
  navbar, #navbarLinks{
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  #leftBanner{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  #leftBanner h3{
    display: none;
  }
  navbar #navbarLinks{
    width: 100%;
  }
  navbar #navbarLinks a{
    padding-bottom: 2rem;
    margin:auto;


    text-align: center;
    font-weight: bold;
  }

  #banner{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    font-size: 1rem;
    padding: 5%;
  }

  #goldenRule{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  #goldenRule #mission, #objectives{
    display: none;
  }

  #mainBody{
      display: flex;
      flex-direction: column;

  }
  #mainBody #mainContent{
    padding: 0;
    font-size: 1.2rem;
    width: 100%;
  }
  #welcome img{
    display: none;
  }
  #footer h4{
    text-align: center;
  }
  #mainBody #sidebar{
    display: none;
  }
}

@media only screen and (max-width: 1150px){

  #leftBanner h3{
    display: none;
  }
  #navbarLinks a{
    font-weight: bold;
  }

  #banner{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    font-size: 1.2rem;
    padding: 5%;
  }
  #banner h1{
    margin-bottom: 4%;
  }
  #goldenRule{
    font-size: .85rem;
  }
  #goldenRule img{
    width: 20rem;
    height: 20rem;
  }

  #mainBody{
    font-size: 1rem;
  }
  #mainContent #welcome{
    display: flex;
    flex-direction: column;
  }
  #mainBody #sidebar{
    margin-left: 2%;
    font-weight: bolder;
    padding-right: 10%;
  }

  #goldenRule{
    font-size: 1rem;
  }
}

.side-notification{
  float: right;
  z-index: 3;
  position: absolute; /*newly added*/
    right: 5px; /*newly added*/
    top: 15%;/*newly added*/
    position: fixed;
}

.seven-letter{
  background-color: #2E7FCE;
}
.seven-letter h3{
  margin-top: 0;
  padding: 1%;
  color: #fff;
  font-family: 'Roboto';
  /*text-decoration: underline;*/
  font-weight: bold;


}

.modal-body p {
    word-wrap: break-word;
}
