#mainHeading{
    margin-left: 4%;
    margin-top: 4%;
}

#wrapper{
      
    //background: #015CB5;
    //color: white;
    width: 60%;
    margin-left: 5%;
    padding: 5%;
    padding-top: 1%;

    a{
        color: darkgrey;
        font-weight: bold;
    }
    
    .image{
        width: 20%;
        max-height: 20dp;
        margin-top: 2%;
        padding: 0;
        margin-right: -9%;
    }
    
    img{
        width: 50%;
        height: 50%;
    }
    
}

#companies>div{
    display: flex;
    align-content: space-around;
    
}

nav{
    border-bottom: 5px solid #2E7FCE;
}

#sponsors{
    display: flex;
    flex-direction: row;
    
    h2{
        margin-right: 4%;
    }
}

#universities div{
    display: flex;
    flex-direction: row;
    p{
        padding-right: 30%;
    }
}

table{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    thead{
        background: grey;
        color: white;
        padding: 5%;
    }
    tbody{
        text-align: center;
    }
}
