h1,h2,h3{
    font-family: 'PT Sans', sans-serif;
}

p,li{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#wrapper{

    background: #015CB5;
    color: white;
    padding: 5%;

    div{
        margin-bottom: 5%;
        div{
            display: flex;
            align-content: space-around;
            img{
                margin-right: 5%;
                height: 50px;
                width: 50px;
            }
            .info{
                margin-right: 5%;
            }
        }
    }
}

navbar{
    border-bottom: 5px solid #2E7FCE;
}
