.section{
    background: #f3f8e1;
}
h1, h2, h3 {
    font-family: 'PT Sans', sans-serif; }

p, li {
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }

#wrapper {
    padding: 5%;
}
#wrapper div {
    margin-bottom: 5%;
}
#wrapper div div {
    display: flex;
    align-content: space-around; }
#wrapper table tr td:first-child{
    width: 250px
}
#wrapper div div .info {
    margin-right: 5%;
    width: 80%;
}

navbar {
    border-bottom: 1px solid lightgrey; }

#wrapper .table tbody tr td img {
    margin-right: 5%;
    display: block;
    max-width:150px;
    max-height:200px;
    width: auto;
    height: auto;

}

@media only screen and (max-width: 550px){
    .personnel-people{
        margin-left: 10%;
        padding: 0;
        width: 100%;
    }
    .personnel-people div{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 0;
        width: 100%;
    }
    .personnel-people div img{
        margin-bottom: 3%;
    }
    #wrapper div div img {
        margin-right: 5%;
        display: block;
        max-width:150px;
        max-height:150px;
        width: auto;
        height: auto;
    }

}
