html {
  overflow-x: hidden;
  font-size: 10px;
}


/*@media only screen and (min-width: 1500px){*/
/*  font-size: 2rem;*/
/*}*/

/*.navbar{*/
/*  display: flex;*/
/*  align-content: space-around;*/
/*  padding: 1% 5% 0;*/
/*  background: #b5e7a0;*/
/*  margin : 0 !important;*/
/*}*/

.navbar #leftBanner {
  display: inline-flex;
}
.navbar #logoText a:link {
   text-decoration: none;
}
.navbar #leftBanner #logo img {
  width: 50%;
  margin-bottom: 5%;
  background: #2d05f5;
  padding: 3%;
  border-radius: 20%;
}
.navbar #leftBanner h3 {
  margin-left: -10%;
  font-size: 1.5em;
  font-weight: bold;
  width: 60%;
  color: #0047a0;
  text-transform: uppercase;
  /*font-family: 'PT Sans', sans-serif;*/
}
/*.navbar #navbarLinks {*/
/*  width: 70%;*/
/*  margin-top: 1%;*/
/*}*/
/*.navbar #navbarLinks a {*/
/*  text-decoration: none;*/
/*  color: black;*/
/*  margin-right: 6%;*/
/*  font-size: 1em;*/
/*  font-family: 'Poppins', sans-serif;*/

/*}*/
/*.navbar #navbarLinks a:hover {*/
/*  color: #ff7b25;*/
/*}*/
div.alert {
  color:black;
    margin : 0;
}

#banner {
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,1)),url("../img/back6.jpg");
  background-size: cover;;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  padding-top: 13%;
  padding-bottom: 9%;
}
#banner h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 3em;
  color: #fff;
  font-weight: bold;
}
#banner p {
  margin: 0 20%;
  margin-top: -1%;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.5em;
  color: #fff;
  font-weight: bold;
}
#banner #knowMore {
  margin-top: 5%;
  background: rgba(46, 127, 206, 0.55);
  padding: 0.4% 1.2%;
  border-radius: 5%;
}
#banner #knowMore a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
}

#goldenRule {
  background: #292929;
  color: white;
}
/*#goldenRule h2 {*/
/*  font-family: 'PT Sans', sans-serif;*/
/*}*/
/*#goldenRule p {*/
/*  font-family: 'PT Sans', sans-serif;*/
/*  font-weight: bold;*/
/*}*/
/*#goldenRule #mission {*/
/*  display: block;*/
/*  width: 50%;*/
/*  margin-right: 5%;*/
/*}*/

/*#goldenRule img {*/
/*  width: 30rem;*/
/*  height: 30rem;*/
/*}*/
/*#goldenRule #objectives {*/
/*  margin-left: 5%;*/
/*}*/

/*#mainBody {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-content: space-around;*/
/*  padding: 2% 5%;*/
/*}*/

/*#mainBody #mainContent {*/
/*  width: 70%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*#mainBody #mainContent h1, #mainBody #mainContent h2, #mainBody #mainContent h3 {*/
/*  font-family: 'PT Sans', sans-serif;*/
/*}*/
/*#mainBody #mainContent p, #mainBody #mainContent li {*/
/*  font-family: 'Roboto', sans-serif;*/
/*  font-weight: bold;*/
/*  font-size: 1.3em;*/
/*}*/
/*#mainBody #mainContent #welcome {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/





#footer {
  background: #292929;
  color: white;
}

/*# sourceMappingURL=style.css.map */
#meetings{
  height: 100%;
  padding-bottom: 100%;
  margin-top: 5%;
}


.navbar {
  border-bottom: 1px solid lightgrey; }

#WhyUs{
  list-style: decimal;
  text-align: justify;
}

#welcome-heading{
  font-weight: bold;
  font-size: 1.75rem;
}





.notifications{
  text-align: center;
  font-size: 2rem;
}
@media only screen and (max-width: 650px){
  .navbar{
    padding: 0;
    width: 100%;
  }
  .navbar, #navbarLinks{
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  #leftBanner{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  #leftBanner h3{
    display: none;
  }
  .navbar #navbarLinks{
    width: 100%;
  }
  .navbar #navbarLinks a{
    padding-bottom: 2rem;
    margin:auto;


    text-align: center;
    font-weight: bold;
  }

  #banner{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    font-size: 1rem;
    padding: 5%;
  }

  #goldenRule{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  #goldenRule #mission, #objectives{
    display: none;
  }

  #mainBody{
      display: flex;
      flex-direction: column;

  }
  #mainBody #mainContent{
    padding: 0;
    font-size: 1.2rem;
    width: 100%;
  }
  #welcome img{
    display: none;
  }
  #footer h4{
    text-align: center;
  }
  #mainBody #sidebar{
    display: none;
  }
}

.side-notification{
  float: right;
  z-index: 3;
  position: absolute; /*newly added*/
    right: 5px; /*newly added*/
    top: 15%;/*newly added*/
    position: fixed;
    width: 30%;
}

.side-notification-2{
  float: right;
  z-index: 3;
  position: absolute; /*newly added*/
    right: 5px; /*newly added*/
    top: 27.5%;/*newly added*/
    position: fixed;
    width: 30%;
}

.side-notification-testem{

    float: right;
    z-index: 3;
    position: absolute; /*newly added*/
      right: 5px; /*newly added*/
      top: 40%;/*newly added*/
      position: fixed;
      width: 30%;
}

.side-notification-testem img {
  max-width:300px;
  max-height:150px;
  width: auto;
  height: auto;
}

.seven-letter{
  /*background-color: #2E7FCE;*/
  background: #f1f1cb;

}
.seven-letter h3{
  margin-top: 0;
  padding: 1%;
  color: #000;
  font-family: 'Roboto';
  /*text-decoration: underline;*/
  font-weight: bold;


}

.modal-body p {
    word-wrap: break-word;
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.testimonials .tests{
  display: flex;
  flex-direction: column;
  border: 0.5px solid lightgrey;
  border-radius: 1rem;
  padding: 1% 1% 0 1%;
  align-items: center;
  align-self: center;
  display: block;
  max-width:350px;
  width: auto;
  height: auto;
}

.testimonials img{
  display: block;
  max-width: 100%;

  padding: 0;
}


.wrapper2{
  padding: 0px 12%;
}

.contact-card .owner{
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}
.contact-card .owner .card-body{
  padding: 5px;
}

.contact-card .owner .card-body .card-text{
  font-size: 13px;
  padding-bottom: 5px;
}

.contact-card .owner .avatar{
  max-width: 150px;
  padding: 0;
}

.contact-card .owner .card-text a{
  color: #51bcda;
}

.modal-title {
  margin-top: 0;
}
.modal-header .close{
  margin: auto;
}

img.iconImg{
  width: 20px;
  height: auto;
  transform: translateY(-2px);
  margin-left: 2px;
}
.page-header .carousel-item{
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  width: 100%;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  /*box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);*/
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}
.blue-card {
  background: #0078FF;
}
.quote-card.blue-card {
  background: #0078FF;
  color: #ffffff;
  margin: 0;
  /*box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);*/
}
.quote-card.blue-card:before, .quote-card.blue-card:after {
  color: #5FAAFF;
}
.quote-card.green-card {
  background: #00970B;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.green-card:before, .quote-card.green-card:after {
  color:#59E063 ;
}

.quote-card.red-card {
  background: #F61E32;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.red-card:before, .quote-card.red-card:after {
  color:#F65665 ;
}

.quote-card.yellow-card {
  background: #F9A825;
  color: #222222;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.yellow-card:before, .quote-card.yellow-card:after {
  color: #FBC02D;
}


 /*member*/
.memberList-row {
  padding-left: 150px;
  position: relative;
  margin-bottom: 30px;
  height: 150px;
}
.memberList-row .memberList-img {
  position: absolute;
  right: calc(100% - 150px);
  top: 0;
  text-align: right;
  margin-right: 20px;
  color: #000000;
  font-size: 1.5rem;
}

.memberList-row:nth-child(odd){
  padding-left: 0;
  padding-right: 150px;
}
.memberList-row:nth-child(odd) .memberList-img {
  right: auto;
  left: calc(100% - 150px);
  text-align: left;
  margin-right: 0;
}
.memberList-row:nth-child(odd) .memberList-content {
  background-color: #5a99ee;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1379bb), to(#5a99ee));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #1379bb, #5a99ee);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #1379bb, #5a99ee);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #1379bb, #5a99ee);
  /* IE10 */
  background-image: -o-linear-gradient(top, #1379bb, #5a99ee);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #1379bb, #5a99ee);
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}
